/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* CSS RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  background-color: var(--bg-color);
  font-family: var(--primary-font);
}

:root {
  --primary-gradient-color: linear-gradient(
    90deg,
    rgba(15, 160, 178, 1) 0%,
    rgba(3, 127, 155, 1) 100%
  );
  --primary-font: "Lato", sans-serif;
  --bg-color: #f6f9fc;
  --drop-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  --border-radius: 5px;
}
