.map-container {
  position: absolute;
  width: 48% !important;
  height: 100% !important;
}
.result-map-container {
  width: 100% !important;
}

.result p {
  padding-top: 4px;
}

.map-name {
  font-size: var(--font-size-18);
}
