@media screen and (max-width: 991.98px) {
  .row {
    flex-wrap: wrap !important;
  }

  /* Hero */

  .hero .hero-text {
    width: 452px;
  }

  .hero .hero-img {
    position: relative;
    left: 10%;
    top: 25px;
  }
}

@media screen and (max-width: 890px) {
  /* navbar */
  .gradient .links {
    left: 0px;
  }
  .search-form {
    right: 120px;
  }
  .search-button {
    position: relative;
    left: 300px;
    bottom: 40px;
  }
  .search-bar {
    width: auto !important;
    position: relative;
    left: 117px;
    width: 300px !important;
    padding: 0.375rem 0.3rem !important;
  }
  .search-select {
    visibility: hidden;
  }
  .signin-btn {
    position: relative;
    bottom: 20px;
    width: 350px !important;
  }

  .signup-btn {
    position: relative;
    bottom: 10px;
    width: 350px !important;
  }
}
